<h1>Bring a new pup into the world!</h1>

<form action="/display_puppy" method="post">
  <input type="text" name="name" placeholder="Puppy name">
  <input type="text" name="breed" placeholder="Puppy breed">
  <input type="text" name="age" placeholder="Puppy age">
  <input type="submit" value="submit">
</form>
