<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Add a puppy!</h1>
    <form method="POST" action="/puppy">
      <label for="name">Dog name:</label>
      <input type="text" id="name" name='name'>
      <label for="name">Dog breed:</label>
      <input type="text" id="breed" name='breed'>
      <label for="name">Dog age:</label>
      <input type="text" id="age" name='age'>
      <input type="submit" value="submit">
    </form>
  </body>
