<html>
  <body>
      <form action="/" method="POST">
      Puppy :
      <br>
      <input type="text" name="name" placeholder="enter name">
      <br>
      Breed
      <br>
      <input type="text" name="breed" placeholder="enter value">
      <br>
      Age
      <br>
      <input type="text" name="age" placeholder="enter value">
      <br>
      <input type="submit" value="Submit">
      </form>
  </body>
</html>