<form action="/" method="POST">
  <div class="form-field">
    <label for="name">Name: </label>
    <input type="text" name="name">
  </div>
  <div class="form-field">
    <label for="breed">Breed: </label>
    <input type="text" name="breed">
  </div>
  <div class="form-field">
    <label for="age">Age: </label>
    <input type="text" name="age">
  </div>
  <input type="submit" name="submit" id="submit" value="Submit">
</form>