
<form method="post" action="/new">
  <label for="name">Puppy Name: </label>
  <input type="text" name="name"><br/>
  <label for="breed">Puppy Breed: </label>
  <input type="text" name="breed"><br/>
  <label for="age">Puppy Age: </label>
  <input type="text" name="age"><br/>
  <input type="submit"  value="submit">
</form>
