<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Name: <%= @puppy.name %>
    Breed: <%= @puppy.breed %>
    Age: <%= @puppy.age %>
  </body>
</html>
