<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @new.name %></h1>
      <h1><%= @new.breed %></h1>
        <h1><%= @new.age %></h1>
  </body>
</html>
