<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bob's Puppy Emporium!</title>
  </head>
  <body style="color: white; background: black;">

    <h1 style="color: red;">Welcome to Bob's Puppy Emporium!</h1>
    <h2>Every day is a sale on <span style="color: blue;">PUPPIES</span>!</h2>
    <a href="/create_puppy" style="text-decoration: none; color: blue;">Click Here To List A Puppy</a>

  </body>
</html>
