<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Welcome</p>
    <a href="/NEW">Click Here To List A Puppy</a>
  </body>
</html>
