<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Puppy</title>
 </head>
 <body>

<form method="POST" action="/display_puppy">
         Name: <input type="text" name="name"><br>
         Breed: <input type="text" name="breed"><br>
         Age: <input type="text" name="age"><br>
         <input id="Submit" type="submit" value="submit">
       </form>
</body>
</html>
